/* The following doesn't work with Materialize - need to implement SASS, go to Materialze site for instructions*/
li a {
    color: green;
}

th a {

}
body {
    background: lightgrey url("images/ArtBG.gif") no-repeat;
    margin: 20px 10px 20px;
}

form {
    margin: 0px 0px 0px 50px;
}

#something {
  margin-top: 10;
}
